
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-family:"Lilita One";
  font-size: 45px;
  color: #FFFFFF;
  font-style: normal;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  /*offset-x | offset-y | blur radius | color */
  text-shadow: 0px 3px 0px black;
  margin-left: -22px;
  margin-top: -20px;
}
  
.button {
  background-color: #EEC203;
  border: none;
  color: white;
  padding: 25px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Lilita One;
  font-size: 28px;
      -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
  /*offset-x | offset-y | blur radius | color */
  text-shadow: 0px 2.5px 0px black;
  margin: 4px 2px;
  margin-top: 70px;
  border: 2.5px solid black;
  box-shadow:1px 2px 0px black,
             inset 0px 6px 0px #FAF036 ,
             inset 0px -6px 0px #C5750E ;
  }
